@{ 
    ViewData["Title"] = "- The Guessing Game -";
    /*string tmpItems = (string)ViewBag.topTen;
    string[] items = tmpItems.Split(',');*/
    string[] tmps = { "", "" };

}

<div class="content-wrapper">
    <div class="card-wrapper">
        <h1 class="display-4">The Guessing Game</h1>
        <p>Guess the secret number bewteen 1 and 100</p>
        <div id="card-holder">
            <div class="cardBg"></div>
            <div class="card">
                <div class="form-wrapper">
                    <form action="/GuessingGame" method="post">
                        <div>
                            <div>
                                <label>
                                    Name:<br />
                                    @if (ViewBag.name != "")
                                    {
                                        <input id="name" type="text" name="name" value="@ViewBag.name" disabled />
                                    }
                                    else
                                    {
                                        <input type="text"  name="name" focus/>
                                    }
                                </label>
                            </div>
                            <div>
                                <label>
                                    No. Guesses:<br />
                                    <input id="guessCount" name="counter" type="number" value="@ViewBag.counter" disabled />
                                </label>
                            </div>
                        </div>
                        <div>
                            <label>
                                Guess the number:<br />
                                <input id="guessedNumber" type="number" name="guessedNumber" value="@ViewBag.guessNumber" />
                                @if (!(ViewBag.message == "" || ViewBag.message == null))
                                {
                                    <input id="response" type="text" name="response" value="@ViewBag.message" />
                                }
                            </label>
                        </div>
                        <div class="button-wrapper">

                            <div>
                                <button id="submitButton" type="submit">Enter</button>
                            </div>

                            <div>
                                <button onclick="javascript: buttonClick('newGame')" type="button">New Game</button>
                            </div>
                            <div>
                                <button onclick="javascript: buttonClick('endGame')" type="button">End Game</button>
                            </div>
                        </div>

                        <input id="callButton" type="text" name="callButton" value="submit" hidden />
                    </form>
                </div>
                <div class="scoreBoard-wrapper">
                    <h2>Top Scores</h2>
                    <table class="topTen-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(string item in ViewBag.topTen){
                                tmps = item.Split(':');
                            <tr>
                                <td>@tmps[0]</td>
                                <td>@tmps[1]</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>