

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @{ Persons data = Model.ListData;}
        @for (int i = 0; i < data.data.Count; i++)
        //People item in @Model.ListData.data)
        {
            <tr>
                <td>@data.data[i].Name</td>
                <td>@data.data[i].Phone</td>
                <td>@data.data[i].City</td>
                <td><a asp-controller="People" asp-action="Delete" asp-route-id="@i.ToString()">Delete</a></td>
            </tr>
        }
    </tbody>
</table>